<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <meta charset="UTF-8">
    <title>Mise à jour d'une personne</title>
</head>
<body class="w-75 m-auto">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/animal">Animal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/species">Species</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/person">Person</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h1>Mise à jour d'une personne</h1>
<form class="w-50 m-auto" th:object="${person}" th:action="@{/person}" method="post">

    <input type="hidden" th:field="*{id}"/>
    <div class="form-group">
        <label for="firstname">Prénom</label>
        <input type="text" class="form-control" id="firstname" th:field="*{firstname}">
        <span th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">Error</span>
    </div>

    <div class="form-group">
        <label for="lastname">Nom</label>
        <input type="text" class="form-control" id="lastname" th:field="*{lastname}">
        <span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Error</span>
    </div>

    <div class="form-group">
        <label for="age">Age</label>
        <input type="text" class="form-control" id="age" th:field="*{age}">
    </div>

    <div class="form-group">Animaux possédés :</div>
    <div class="form-check" th:each="animal: ${animalsList}">
        <input class="form-check-input" th:field="*{animals}" type="checkbox" th:value="${animal.getId()}" th:id="${animal.getId()}">
        <label class="form-check-label" th:for="${animal.getId()}" th:text="${animal.getName()} + ' '"></label>
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Soumettre</button>
    </div>

</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

