<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <meta charset="UTF-8">
    <title>Liste des personnes</title>
</head>
<body class="w-75 m-auto">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/animal">Animal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/species">Species</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/person">Person</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h1>Liste des personnes</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Prénom</th>
        <th scope="col">Nom</th>
        <th scope="col">Age</th>
        <th scope="col">Animaux possédés</th>
        <th scope="col">Modifier</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="personItem : ${persons}">
        <td th:text="${personItem.getId()}"/>
        <td th:text="${personItem.getFirstname()}"/>
        <td th:text="${personItem.getLastname()}"/>
        <td th:text="${personItem.getAge()}"/>
        <td>
            <span th:each="animal : ${personItem.getAnimals()}" th:text="${animal.getName()} + ' '"></span>
        </td>
        <td><a th:href="@{'/person/' + ${personItem.getId()}}">📝</a></td>
        <td><a th:href="@{'/person/delete/' + ${personItem.id}}"
               onclick="return confirm('Êtes-vous sûr ?')">🗑️</a></td>
    </tr>
    </tbody>
</table>
<button class="btn btn-primary" onclick="window.location='/person/create'">Ajouter une personne</button>
<a th:href="@{'/person/random'}" class="btn btn-primary" role="button">Ajouter 10 personnes</a>
<a th:href="@{'/person/deleteNoAnimals'}" class="btn btn-primary" role="button">Supprimer personnes sans animaux</a>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>